/*
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Line heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6
Large: 1.8

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

Theme retro with neon
background color: #121212
dark color: #214252
primary color: #AF2D2D
secondary color: #F05454
terciary color: #CE6262
light color:
white color: #d3d3d3
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  padding: 1rem 0 0 0;
  box-sizing: border-box;
  background-color: #121212;
  color: #d3d3d3;
}
