/*
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Line heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6
Large: 1.8

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

Theme retro with neon
black color: #121212
blue: #214252
light blue 1:#4386a6  
light blue 2: #8ebcd2
red: #AF2D2D
light red 1: #F05454
light red 2: #CE6262
white color: #d3d3d3
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
  line-height: 1;
  font-weight: 400;
  padding: 1rem 0 0 0;
  box-sizing: border-box;
  background-color: #444;
  color: #d3d3d3;
}
