.details {
  padding-bottom: 10rem;
  margin: auto;
  box-sizing: border-box;
  width: 100%;
  padding-right: 20rem;
  padding-left: 14rem;
}

.background {
  width: 270rem;
  height: 60rem;
  margin-left: -10rem;
  margin-top: -10rem;
  position: relative;
  z-index: -1;
}

.background::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(
    to bottom,
    rgba(51, 51, 51, 0),
    rgba(68, 68, 68, 1)
  );
  width: 100%;
  height: 100%;
}

.background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  margin-top: -30rem;
  z-index: 2;
  font-size: 1.7rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  width: 100%;
}

.title {
  font-size: 7rem;
  font-weight: 900;
}

.subtitle {
  font-size: 4rem;
  font-weight: 700;
}

.stars {
  display: inline-block;
  font-weight: 700;
  border-radius: 2rem;
  color: #444;
  background-color: #d3d3d3;
  border: 2px solid #d3d3d3;
  padding: 0.5rem 1.2rem;
}

.title__content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  margin-left: 0.5rem;
  margin-top: 1rem;
}

.released {
  display: inline-block;
  font-weight: 700;
  border-radius: 2rem;
  color: #444;
  background-color: #d3d3d3;
  border: 2px solid #d3d3d3;
  padding: 0.5rem 1.2rem;
}

.pages {
  display: inline-block;
  font-weight: 700;
  border-radius: 2rem;
  color: #444;
  background-color: #d3d3d3;
  border: 2px solid #d3d3d3;
  padding: 0.5rem 1.2rem;
}

.title__btn--group {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.title__btn {
  width: fit-content;
  padding: 0.4rem 1.7rem 0.4rem 1.7rem;
  background-color: #d3d3d3;
  outline: none;
  border: none;
  border-radius: 2rem;
  background: linear-gradient(to right bottom, #333 30%, #d3d3d3 30%);
  background-size: 500% 300%;
  background-position: right top;
  box-shadow: none;
  transition: background-position 0.8s ease-in-out, scale 0.5s, box-shadow 0.5s;
}

.title__btn--label {
  cursor: pointer;
  display: block;
  width: 100%;
  height: 100%;
}

.title__btn--label input {
  appearance: none;
  cursor: pointer;
}

.title__btn--icon {
  color: #444;
  text-align: center;
  transition: color 1s ease-in-out;
}

.title__btn--icon:nth-child(2) {
  transition: fill 1s ease, filter 1s ease;
}

.title__btn:hover {
  cursor: pointer;
  background-position: left top;
  scale: 1.05;
  box-shadow: 0 0.5rem 0.5rem rgba(255, 255, 255, 0.1),
    0 0 1rem rgba(170, 170, 170, 0.5), 0 0 1.5rem rgba(170, 170, 170, 1);
}

.title__btn:hover:first-child .title__btn--icon {
  fill: #eb6440;
  color: #eb6440;
  filter: drop-shadow(0 0 0.5rem #eb6440);
}

.title__btn:hover:nth-child(2) .title__btn--icon {
  fill: red;
  color: red;
  filter: drop-shadow(0 0 0.5rem #fa0000);
}

.title__btn:hover:last-child .title__btn--icon {
  fill: yellow;
  color: yellow;
  filter: drop-shadow(0 0 0.5rem yellow);
}

.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.row {
  display: flex;
  justify-content: space-between;
}

.authors {
  display: flex;
  gap: 2rem;
}

.publishers {
  display: flex;
  gap: 2rem;
}

.genres {
  display: flex;
  gap: 2rem;
}

.content__span {
  width: fit-content;
  font-weight: 700;
  border-radius: 2rem;
  color: #d3d3d3;
  border: 2px solid #d3d3d3;
  padding: 1rem 2.4rem;
  transition: background-color 400ms, transform 400ms, color 400ms;
}

.content__span:hover {
  transform: scale(1.1);
  background-color: #d3d3d3;
  color: #444;
}
