.shows {
  padding-left: 14rem;
}

.cards {
  grid-column: 2 / -1;
  grid-row: 2 / span 3;
  display: grid;
  grid-template-columns: repeat(16, minmax(auto, 60px));
  grid-gap: 4rem;
}

.sort_search {
  grid-row: 1;
  grid-column: 2;
  width: 100%;
  display: flex;
  align-items: center;
  padding-right: 4rem;
}

.pagination {
  grid-row: 6;
  grid-column: 2;
}

.search {
  padding-left: 3rem;
}
