.container {
  height: 100%;
  padding: 0 3.2rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
  margin-bottom: 4.5rem;
  margin-top: 4.5rem;
  text-align: center;
}

.grid--5-cols {
  grid-template-columns: repeat(5, 1fr);
}

.centered {
  text-align: center;
}

.welcome {
  font-size: 4.5rem;
  font-weight: 900;
  margin-bottom: 3rem;
}

.manage {
  font-size: 3.2rem;
  font-weight: 700;
}

.item-title {
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 1.6rem;
  margin-top: 1.5rem;
}
