.welcome--section {
  max-width: 120rem;
  height: 100vh;
  padding: 35rem 3.2rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  column-gap: 4.5rem;
  margin-bottom: 4.5rem;
  margin-top: 4.5rem;
  text-align: center;
}

.grid--5-cols {
  grid-template-columns: repeat(5, 1fr);
}

.centered {
  text-align: center;
}

.welcome {
  font-size: 4.5rem;
  font-weight: 900;
  margin-bottom: 3rem;
}

.manage {
  font-size: 3.2rem;
  font-weight: 700;
}
