.button {
  width: 20rem;
  font: inherit;
  padding: 0.5rem 1.5rem;
  border: 4px;
  background: #214252;
  color: inherit;
  cursor: pointer;
  margin-right: 1rem;
  text-decoration: none;
  display: inline-block;
  border-radius: 1rem;
  font-weight: 500;
  font-size: 1.8rem;
  padding: 1.2rem 2.4rem;
  text-align: center;
}

.button--login,
.button--login:link,
.button--login:visited {
  background-color: transparent;
  border: 3px solid rgb(255, 181, 181);
  color: #d7e8f0;
  transition: box-shadow 0.3s, text-shadow 0.3s;
}

.button--login:hover,
.button--login:active {
  box-shadow: 0 0 20px, inset 0 0 20px, 0 0 2px, inset 0 0 2px,
    0 0 0.5rem #fa0000, inset 0 0 0.5rem #fa0000, 0 0 1.5rem #fa0000,
    inset 0 0 1.5rem #fa0000, 0 0 0.5em #fa0000, inset 0 0 0.5em #fa0000,
    0 0 0.1em #fa0000, inset 0 0 0.1em #fa0000, 0 10px 3px #000,
    inset 0 10px 3px #000;
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #00aaff, 0 0 0.5em #00aaff,
    0 0 0.1em #00aaff, 0 5px 3px #000;
}

.button--signup,
.button--signup:link,
.button--signup:visited {
  background: #f05454;
  border-color: #f05454;
}

.button--signup:hover,
.button--signup:active {
  background: #ce6262;
  border-color: #ce6262;
}

.button--card,
.button--card:link,
.button--card:visited {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
