.grid {
  display: grid;
  grid-template-columns: 40rem fit-content(4rem);
  grid-template-rows: repeat(auto-fit, minmax(auto, fit-content(20rem)));
  grid-gap: 4rem;
  padding: 5rem 20rem 0 0;
  justify-content: space-between;
  justify-items: center;
  align-content: space-evenly;
  align-items: center;
  position: relative;
}
