.header {
  display: flex;
  justify-content: space-between;
  width: 90%;
  align-items: center;
  height: 7.6rem;
  padding: 0;
  position: relative;
  z-index: 1;
}

.header-title {
  height: 2.2rem;
  font-weight: 700;
  font-size: 3rem;
  text-decoration: none;
  color: #d3d3d3;
}

.header-auth {
  display: flex;
  align-items: center;
}
