.container {
  padding-left: 30rem;
  padding-right: 30rem;
  padding-bottom: 5rem;
  text-align: center;
}

.pageNumbers {
  list-style: none;
  display: flex;
  gap: 0.5rem;
}

.pageNumbers li {
  padding: 10px;
  border: 1px solid #214252;
  border-radius: 6px;
  cursor: pointer;
}

.pageNumbers li:hover {
  background-color: #214252;
}

.active {
  background-color: #214252;
}

.pageNumbers li button {
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: inherit;
}

.pageNumbers li button:focus {
  outline: 0;
}

.btn {
  display: flex;
  justify-content: center;
  align-self: center;
  cursor: pointer;
  border-radius: 50%;
  width: fit-content;
  height: fit-content;
  border: 2px solid #d3d3d3;
  background-color: transparent;
  transition: background-color 400ms, scale 400ms;
}

.btn:hover {
  background-color: #d3d3d3;
  scale: 1.1;
}

.btn span {
  padding: 1rem;
}

.btn svg {
  fill: #d3d3d3;
}

.btn:hover svg {
  fill: #444;
}
