.nav__container {
  position: fixed;
  bottom: 0;
  width: 83px;
  height: 100%;
  z-index: 1;
  background: #214252;
  transition: width 400ms;
  overflow-x: hidden;
}

.nav__container:hover {
  width: 200px;
}

.nav__container li:hover {
  background-color: #af2d2d;
}

.nav__container li:hover::before {
  background-color: #af2d2d;
}

.nav__container li:hover svg {
  background-color: #af2d2d;
  fill: #214252;
}

li:hover .nav__link span {
  color: #214252;
}

.nav__container li::before {
  position: absolute;
  left: -0.925rem;
  top: 0;
  width: 0.925rem;
  height: 100%;
  content: '';
  background: #214252;
  z-index: 1;
  transition: background 400ms;
}

.nav__container ul {
  margin: 1.85rem 0 0 0;
  padding: 0;
  list-style: none;
}

.nav__container li {
  position: relative;
  clear: both;
  width: 100%;
  padding: 0;
  transition: background 400ms;
}

.nav__link {
  display: flex;
  padding: 2vh 0 2vh 0;
  align-items: center;
  width: 100%;
  text-decoration: none;
  transition: color 400ms;
  margin-left: 2.5rem;
  overflow: hidden;
}

.nav__link span {
  position: relative;
  display: block;
  z-index: 0;
  text-indent: -20em;
  color: #d3d3d3;
  white-space: nowrap;
  font-size: 1.5rem;
  transition: text-indent 400ms ease-in-out;
}

.nav__link svg {
  position: relative;
  max-width: 80px;
  max-height: 30px;
  z-index: 1;
  fill: #d3d3d3;
  background: #214252;
  transition: 400ms;
}

.nav__container:hover + .wrapper {
  transform: translateX(160px);
  max-width: 100%;
  opacity: 0.3;
}

.nav__container:hover li:nth-of-type(1) span {
  transition-delay: 100ms;
}

.nav__container:hover li:nth-of-type(2) span {
  transition-delay: 200ms;
}

.nav__container:hover li:nth-of-type(3) span {
  transition-delay: 300ms;
}

.nav__container:hover li:nth-of-type(4) span {
  transition-delay: 400ms;
}

.nav__container:hover li:nth-of-type(5) span {
  transition-delay: 500ms;
}

.nav__container:hover span {
  text-indent: 0;
}

.wrapper {
  min-height: 100vh;
  height: 100%;
  min-width: 100vw;
  width: 100%;
  padding-left: 140px;
  margin-top: 0;
  background-size: cover;
  background-position: center center;
  transition: transform 400ms, opacity 400ms;
}
